body {
    font: 14px "微软雅黑", "MicrosoftYahei", "宋体", "Arial Narrow", HELVETICA;
    background-image: url("../image/bg.png");
}

table tr.selected td {
    background-color: #FFFFCC;
}

.highlight {
    background-color: yellow;
}

input, select, textarea, button {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#body {
    background: #fff;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 50px 10px rgba(255, 255, 255, 0.5);
    padding-bottom: 30px;
}

#footer {
    margin-top: 50px;
}

#header .dropdown:hover .dropdown-menu {
    display: block;
}

#header .navbar {
    background: #fff;
    background-image: none;
    border-color: #EEEEEE;
    border-left: medium none #EEEEEE;
    border-right: medium none #EEEEEE;
    border-style: solid none;
    border-width: 1px medium;
    font-family: 'Open Sans Condensed', sans-serif;
    border-radius: 0px;
    box-shadow: none;
    padding: 0px;
}

#header .navbar li {
    padding: 5px 7px 5px 20px;
}

#header .navbar li:hover, #header .navbar li a:hover {
    background-color: #A8CBEC;
}

#header .navbar .open a:focus {
    background-color: #A8CBEC;
}

#header .dropdown-menu {
    background: #949494;
    background: rgba(148, 148, 148, 0.9);
    padding: 10px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
}

#header .dropdown-menu li > a, #header .dropdown-menu li > a:focus, #header .dropdown-menu li > a:hover {
    color: #fff;
    background: transparent;
    font-size: 12px;
    line-height: 26px;
    font-weight: 600;
    padding: 5px 15px;
}

#header .dropdown-menu li > a:hover {
    color: #80766F;
}

#header .dropdown-menu li:hover {
    background-color: #fff;
}

#header .top-header {
    padding-top: 60px;
    padding-bottom: 45px;
    background: #fff;
    padding: 0px 30px 30px;
    padding-left: 0px;
}

#header .top-header .logo {
    padding: 60px 30px 30px 25px;
}

#header .top-header a {
    color: #80766F;
    font-size: 32px;
    line-height: 32px;
    text-decoration: none;
}
