{% extends "base.html" %}
{% load staticfiles %}

{% block title %}结算{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/meal_storage.js' %}"></script>
<script src="{% static 'js/order.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row">

    {% if type == "stage_meals" %}
    <div class="col-md-12" id="selected_stage_meals">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-md-6">套餐名</th>
                    <th></th>
                    <th>单价</th>
                </tr>
            </thead>
            <tbody id="selected-stage-meals">
            </tbody>
        </table>
        {% verbatim %}
        <script id='selected-stage-meal-template' type='text/ractive'>
            {{#meals}}
            <tr id="meal-{{id}}">
                <td>{{name}}</td>
                <td class="meal-type" data-type="{{meal_type}}">{{category}}</td>
                <td>{{price}}</td>
            </tr>
            {{/meals}}
            {{#total}}
            <tr class="text-right">
                <td colspan="5">您一共选择了<b>{{amount}}</b>份套餐，总计<b>{{price}}</b>元</td>
            </tr>
            {{/total}}
        </script>
        {% endverbatim %}
    </div>
    {% else %}
    <div class="col-md-12" id="selected_meals">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-md-6">套餐名</th>
                    <th></th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>小计</th>
                </tr>
            </thead>
            <tbody id="selected-meals">
            </tbody>
        </table>
        {% verbatim %}
        <script id='selected-meal-template' type='text/ractive'>
            {{#meals}}
            <tr id="meal-{{id}}">
                <td>{{name}}</td>
                <td class="meal-type alert-warning">
                    {{#limitations}}
                    <label class="radio-inline">
                        <input type="radio" class="meal-type-checkbox" name="meal-type-{{id}}" value="{{type}}"> {{label}}
                    </label>
                    {{/limitations}}
                </td>
                <td>{{price}}</td>
                <td>
                    <span>{{amount}}</span>
                    <div class="pull-right">
                        <a href="javascript:void(0)" data-id="{{id}}" class="plus-meal"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="javascript:void(0)" data-id="{{id}}" class="minus-meal"><span class="glyphicon glyphicon-minus"></span></a>
                    </div>
                </td>
                <td>{{subtotal}}</td>
            </tr>
            {{/meals}}
            {{#total}}
            <tr class="text-right">
                <td colspan="5">您一共选择了<b>{{amount}}</b>份套餐，总计<b>{{price}}</b>元</td>
            </tr>
            {{/total}}
        </script>
        {% endverbatim %}
    </div>
    {% endif %}

    <div class="col-md-12">
        <form class="form-inline" role="form">
            <div class="form-group">
                <span>送餐地址：</span>
                <select id="building" class="form-control input-sm">
                    {% for building in buildings %}
                        {% if user.profile.building == building %}
                            <option selected="selected" value="{{ building.id }}">{{ building.name }}</option>
                        {% else %}
                            <option value="{{ building.id }}">{{ building.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="text" id="location" class="form-control input-sm" value="{{ user.profile.location|default_if_none:'' }}" placeholder="请尽可能详细。如A座三单元1005-2 B区02" />
            </div>
            <br /><br />
            <div class="form-group">
                <span>送餐时间：</span>
                <span class="label label-warning">明天({{ tomorrow|date:"l" }})</span>
                {% for type, times in deliver_times.items %}
                    <span id="{{ type }}-deliver-time-select">
                        {% for meal_type in meal_type_choices %}
                            {% if meal_type.0 == type %}
                            <span>{{ meal_type.1 }}</span>
                            {% endif %}
                        {% endfor %}
                        <select class="form-control input-sm">
                            {% for time in times %}
                                {% if time == user.profile.preferred_breakfast_time or time == user.profile.preferred_lunch_time or time == user.profile.preferred_supper_time %}
                                <option selected="selected" value="{{ time }}">{{ time }}</option>
                                {% else %}
                                <option value="{{ time }}">{{ time }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </span>
                {% endfor %}
                <br />
                <small>* 按时吃饭是大事，我们确保准时送到。只能帮到这了。</small>
            </div>
        </form>
    </div>

    <form method="post" class="form-inline col-md-12 text-right" role="form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label class="sr-only">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        {% if type == "stage_meals" %}
        <a id="back-to-meals-btn" href="{% url 'plans:booking' pk=userplan %}">返回继续添加</a>&nbsp;
        {% else %}
        <a id="back-to-meals-btn" href="{% url 'meals:index' %}">返回继续添加</a>&nbsp;
        {% endif %}
        <button type="button" data-loading-text="正在创建订单..." id="create-order-btn" type="button" class="btn btn-primary" data-url="{% url 'orders:checkout' %}?type={{ type }}&userplan={{ userplan }}">下单</button>
    </form>
</div>
{% endblock %}
