{% extends "base.html" %}
{% load staticfiles %}

{% block title %}我的订单{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tbody>
            {% for item in my_orders %}
                {% if item.orders %}
                    <tr>
                        <td colspan="5"><strong>{{ item.label }}</strong></td>
                    </tr>
                    {% for order in item.orders %}
                    <tr>
                        <td>
                            <ul class="list-unstyled">
                                {% for ordermeal in order.ordermeal_set.all %}
                                <li>{{ ordermeal.meal.name }} x {{ ordermeal.amount }}<small>({{ ordermeal.get_meal_type_display }})</small></li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ order.total_price }}元</td>
                        <td>{{ order.building.name }}, {{ order.location }}</td>
                        <td>
                            <ul class="list-unstyled">
                                {% if order.breakfast_deliver_time %}
                                <li>早餐：{{ order.breakfast_deliver_time }}</li>
                                {% endif %}
                                {% if order.lunch_deliver_time %}
                                <li>午餐：{{ order.lunch_deliver_time }}</li>
                                {% endif %}
                                {% if order.supper_deliver_time %}
                                <li>晚餐：{{ order.supper_deliver_time }}</li>
                                {% endif %}
                            </ul>
                        </td>
                        <td>
                            {{ order.get_status_display }}
                            {{ order.get_operation_buttons|default_if_none:''|safe }}
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
