{% extends "base.html" %}

{% block title %}{{ headline }}{% endblock %}

{% block content %}

<div class="row">
    <form method="post" enctype="multipart/form-data" class="form-inline col-md-12" role="form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label class="sr-only">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="提交" class="btn btn-primary" />
    </form>
</div>
{% endblock %}
