{% extends "base.html" %}
{% load staticfiles food_tags %}

{% block title %}{{ headline }}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/meal.css' %}">
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/meal_storage.js' %}"></script>
<script src="{% static 'js/meal.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8" id="meals">
        <div class="list-group">
            {% for meal in meals %}
            <span class="list-group-item">
                <h4 class="list-group-item-heading">
                    <span class="meal-name">{{ meal.name }}<small>({{ meal.get_limitations_display }})</small></span>
                    <a href="javascript:void(0)" class="add-to-cart pull-right text-center" data-id="{{ meal.id }}" data-name="{{ meal.name }}" data-price="{{ meal.price }}" data-limitations="{{ meal.get_limitations }}">
                        <span class="glyphicon glyphicon-shopping-cart"></span><br />
                        <span><small>￥{{ meal.price }}</small></span>
                    </a>
                </h4>
                <p class="list-group-item-text dishes">
                    {% for dish in meal.dishes.all %}
                    {{ dish.name }}
                    {% if not forloop.last %}、{% endif %}
                    {% endfor %}
                </p>
                <div class="hidden details">
                    <hr />
                    <table class="table table-bordered">
                        {% for dish in meal.dishes.all %}
                        <tr>
                            <td>
                                {{ dish.name }}
                            </td>
                            <td>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>材料名</th>
                                            <th>数量(克)</th>
                                            <th>热量(大卡)</th>
                                            <th>碳水化合物(克)</th>
                                            <th>脂肪(克)</th>
                                            <th>蛋白质(克)</th>
                                            <th>纤维素(克)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for dishfood in dish.dishfood_set.all %}
                                        <tr>
                                            <td>{{ dishfood.food.name }}</td>
                                            <td>{{ dishfood.weight }}</td>
                                            <td>{% get_food_element dishfood.food 'heat' dishfood.weight %}</td>
                                            <td>{% get_food_element dishfood.food 'carbohydrate' dishfood.weight %}</td>
                                            <td>{% get_food_element dishfood.food 'fat' dishfood.weight %}</td>
                                            <td>{% get_food_element dishfood.food 'protein' dishfood.weight %}</td>
                                            <td>{% get_food_element dishfood.food 'cellulose' dishfood.weight %}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% with elements=dish.get_food_elements %}
                                    <tfoot>
                                        <tr>
                                            <td>总计</td>
                                            <td>{{ elements.weight }}</td>
                                            <td>{{ elements.heat }}</td>
                                            <td>{{ elements.carbohydrate }}</td>
                                            <td>{{ elements.fat }}</td>
                                            <td>{{ elements.protein }}</td>
                                            <td>{{ elements.cellulose }}</td>
                                        </tr>
                                    </tfoot>
                                    {% endwith %}
                                </table>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </span>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4">
        <ul class="list-group hidden" id="selected-meals" data-checkout-url="{% url 'orders:checkout' %}">
        </ul>
        {% verbatim %}
        <script id='selected-meal-template' type='text/ractive'>
            {{#meals}}
            <li class="list-group-item meal" data-id="{{id}}">
                <span class="name">{{name}}</span> x <span class="amount">{{amount}}</span> = <span class="subtotal">{{subtotal}}</span>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs plus-meal">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs minus-meal">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-xs delete-meal">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </li>
            {{/meals}}
            {{#total}}
            <li class="list-group-item last text-right">
                <span>您一共选择了<b>{{amount}}</b>份套餐，总计<b>{{price}}</b>元</span>
            </li>
            {{/total}}
            <li class="list-group-item checkout text-right">
                <a class="btn btn-primary" href="{{checkout_url}}">选好了</a>
            </li>
        </script>
        {% endverbatim %}
    </div>
</div>
{% endblock %}
