{% extends "base.html" %}

{% block title %}所有套餐{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <form class="form-inline" role="form">
            <input type="hidden" name="page" value="{{ page_obj.number }}" />
            <div class="form-group">
                <span>早中晚：</span>
                <select name="meal_type" class="form-control">
                    <option value="all">所有</option>
                    {% for choice in meal_type_choices %}
                        {% if choice.0 == meal_type %}
                        <option value="{{ choice.0 }}" selected="selected">{{ choice.1 }}</option>
                        {% else %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <span>类别：</span>
                <select name="category" class="form-control">
                    <option value="all">所有类别</option>
                    {% for choice in category_choices %}
                        {% if choice.0 == category %}
                        <option value="{{ choice.0 }}" selected="selected">{{ choice.1 }}</option>
                        {% else %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">查找</button>
            </div>
        </form>
        <br />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>套餐名</th>
                    <th>菜品</th>
                </tr>
            </thead>
            <tbody>
                {% for meal in object_list %}
                <tr>
                    <td>
                        {{ meal.name }}({{ meal.price }})<small>[{{ meal.get_limitations_display }}][{{ meal.get_category_display }}]</small>
                        <a href="{% url 'meals:update' pk=meal.id %}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td>
                        <table class="table table-bordered table-hover">
                            {% for dish in meal.dishes.all %}
                            <tr>
                                <td>
                                    {{ dish.name }}
                                    <a href="{% url 'meals:update_dish' meal_pk=meal.id pk=dish.id %}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <a href="{% url 'meals:update_dish_foods' meal_pk=meal.id dish_pk=dish.id %}">
                                        <span class="glyphicon glyphicon-th-list"></span>
                                    </a>
                                </td>
                                <td>
                                    <table class="table table-bordered table-hover">
                                        {% for dishfood in dish.dishfood_set.all %}
                                        <tr>
                                            <td>{{ dishfood.food.name }}</td>
                                            <td>{{ dishfood.weight }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="2">
                                    <a href="{% url 'meals:create_dish' meal_pk=meal.id %}">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                        <a href="{% url 'meals:create' %}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        {% include "pagination.html" %}
    </div>
</div>
{% endblock %}
